main{
    display: flex;
    text-decoration: none;
}



.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 70%;
    background-color: #0D0D0D;
    color: aliceblue;
    font-weight: lighter;
    font-size: 1.5rem;
    list-style: none;
    padding: 10px;
    margin: 0px;
    position: absolute;
    top: 0;
    padding-left: 10%;
    border-radius: 25px;

}



ul li{
    margin: 0px 10px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

ul li :hover{
    background-color: #85F2A0;
    border-radius: 10px;
    padding: 10px;
    margin: 7px;
    transition: 0.5s;
    color: #0D0D0D;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    
}